/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color for the whole page */
  body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  /* Style the container for the login form */
  .container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
  }
  
  /* Style form labels */
  label {
    font-weight: bold;
  }
  
  /* Style text inputs and password input */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style the login button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px; /* Add margin to the right to create space */
  }
  
  /* Style the "Remember me" checkbox */
  label input[type="checkbox"] {
    margin-top: 10px;
  }
  
  /* Style the Cancel button and the "Create Account" and "Forgot Password" links */
  .cancelbtn {
    background-color: #f44336;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px; /* Add margin to the right to create space */
  }
  
  .psw a {
    text-decoration: none;
    color: #2196F3;
  }
  
  /* Style the links on hover */
  .psw a:hover {
    text-decoration: underline;
  }
  